<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451193617950-t94qdkc0rt12s30urajn1mb0ncqrgha9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451193617950-t94qdkc0rt12s30urajn1mb0ncqrgha9</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ykJjHdPGM93tZvflbKSKFgyaTppUT-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>451193617950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPages.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-modern-login-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-modern-login-ui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451193617950:ios:14602ddd815ba5db4b780f</string>
</dict>
</plist>